@import url(../hdo-bootstrap/public/hdo-bootstrap.css);
.droppable {
  display: none; }

.drag-and-drop .droppable {
  border: dashed 1px #455068;
  display: block;
  height: 3em;
  margin: 0.5em 0;
  padding: 0.5em; }
